section#mortgage-calculator {
  width:880px;
  color: #222;
  font-family: sans-serif;
  font-size: small;
  margin: auto;
}
header {
  padding: 13px;
}
header h3 {
  font-weight: 500;
}
header h4 {
  font-weight: 300;
}
header h5 {
  font-weight: 100;
  margin-top: -12px;
  margin-bottom: -5px;
}
form#AffordabilityInputControls {
  border-radius:6px;
  height:120px;
  background-color: rgba(0,0,0,.05);
  padding:9px;
}
table.AffordabilityTable {
  font-size: inherit;
  color: #333;
  position: relative;
  top: -36px;
  float:right;
  width: 66%;
  margin-top: 50px;
}
table.AffordabilityTable tbody td:last-child {
  text-align: right;
}
table.AffordabilityTable tbody td:first-child {
  width: 20px;
}
.AffordabilityTableTitleDot {
  border-radius: 8px;
  width: 16px;
  height: 16px;
}
.color1 {
  background-color: rgb(5, 34, 134);
}
.color2 {
  background-color: rgb(0, 173, 187);
}
.color3 {
  background-color: rgb(194, 213, 0);
}
.color4 {
  background-color: rgb(250, 140, 104);
}
.color5 {
  background-color: rgb(206, 182, 255);
}
form select {
  margin-top:10px;
  height:25px;
}
.DonutChartGraphContainer {
  width: 200px;
}
fieldset {
  border:none;
  float:left;
  width:30%;
}
legend {
  display:none;
}
label {
  position:relative;
  top: 6px;
  left: 1px;
}
input[type=range] {
  -webkit-appearance: none;
  height: 2px;
  outline: none;
  background: linear-gradient(
    to right,
    rgb(0, 120, 130) 0%,
    rgb(205, 209, 212) 100%
  );
  margin-top: 10px;
}
.range {
  width: 100%;
}
input.textInput {
  float:right;
  width: 30%;
  border-radius: 6px;
  border: 1px solid silver;
  padding: 6px;
  font-family: sans-serif;
  font-size: small;
  color: #222;
}
input.textInput:focus {
  outline: none;
  box-shadow: rgb(0, 120, 130) 0px 0px 0px 2px;
}
input.leftSplit {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
input.rightSplit {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#LoanTypeInput {
  display: block;
}
#LoanTypeInput:focus {
  outline: none;
  box-shadow: rgb(0, 120, 130) 0px 0px 0px 2px;
}
table col #legendCol {
  width: 20px;
}
figure svg {
  position: relative;
  top: 8px;
}
figcaption.DonutChartLabelContainer {
  position:relative;
  top: -140;
  left: 83;
}
figure figcaption p.DonutChartLabelUnit {
  position: relative;
  top: -10px;
}
circle.color1 {
  stroke: rgb(5, 34, 134);
}
circle.color2 {
  stroke: rgb(0, 173, 187);
}
circle.color3 {
  stroke: rgb(194, 213, 0);
}
circle.color4 {
  stroke: rgb(250, 140, 104);
}
circle.color5 {
  stroke: rgb(206, 182, 255);
}
.totalAmount {
  float:right;
}
thead, tfoot {
  display:none;
}
figcaption output {
  font-family: monospace;
  font-size: xxx-large;
  position: relative;
  right: 53px;
}
footer {
  position:relative;
  float:right;
  top: -164px;
  right: 29%;
  text-align: center;
}
footer button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 120, 130);
  margin: 0px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
  padding: 8px 16px;
  border-color: transparent;
}
footer button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 120, 130);
  border-color: rgb(0, 120, 130);
}
footer small {
  width: 100%;
  display: inline-block;
}
footer small a {
  color: rgb(0, 120, 130);
  text-decoration: none;
}
